.CompanyDetail {
    text-align: center;
    margin-top: 25px;
}

.CompanyDetail-name {
    font-size: x-large;
    text-align: left;
    margin-left: 25%;
    color: white;
}

.CompanyDetail-description {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    color: white;
}